# Gitignore file for .dotfiles

# Firstly lets ignore all files
*
# But we should not ignore this file
!.gitignore

# Ignore specific folders from .config dir
!.config/

# .config/nvim
!.config/nvim/
!.config/nvim/**/*

# .config/kitty
!.config/kitty/
!.config/kitty/*

# .config/mc
!.config/mc/
!.config/mc/*

# .config/wofi
!.config/wofi/
!.config/wofi/*
!.config/wofi/*/*

# .config/zsh
!.config/zsh
!.config/zsh/*
!.config/zsh/*/*

# .config/wallpapers
!.config/wallpapers
!.config/wallpapers/*

# Ignore zsh files
!.zshrc
!.p10k.zsh
!.oh-my-zsh/
