# Gitignore file for .dotfiles

# Firstly lets ignore all files
*
# But we should not ignore this file
!.gitignore

# Ignore specific folders from .config dir
!.config/

# .config/nvim
!.config/nvim/
!.config/nvim/**/*

